.footer {
  padding: 24px;
  background: #FFDAFB;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;

  
}

/* MAIN GRID */
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr;
  gap: 24px;
  align-items: start;
  text-align: left;
}

/* VERTICAL MENU */
.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
}

.footer-menu a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

/* LOCATION BLOCK */
.footer-location h4 {
  margin-bottom: 5px;
}

.footer-location p {
  font-size: 13px;
  margin-bottom: 8px;
}


.footer-location iframe {
  width: 100%;
  height: 180px;
  border: none;
  border-radius: 10px;
}

/* MAP PLACEHOLDER */
.map-box {
  height: 140px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-top: 30px;
}

/* COPYRIGHT */
.footer-bottom {
  text-align: center;
  margin-top: 45px;
  font-size: 12px;
  border-top: solid 1px lightgray;
}

/* MOBILE VIEW */
@media (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .footer-location iframe {
    height: 220px;
  }
}