.search-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -50px;
}

.dropdown {
  position: relative;
}

.search-btn {
    font-weight: bold;
    background: lightpink;
    border: 1px solid #ccc;
    padding: 6px 11px;
    border-radius: 20px;
    font-size: 15px;
    /* width: 70px; */
    margin-top: -10px;
}

.search-btn:hover{
background: lightblue;
cursor: pointer;
}

.dropdown button {
  padding: 15px 25px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background: white;
  min-width: 255px;
  text-align: left;
  cursor: pointer;
}

/* DROPDOWN MENU */
.menu-SearchBar {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  padding: 8px;
  z-index: 10;
}

.menu-SearchBar > input{
    height: 20px;
    border-radius: 5px;
    border: solid 1px lightgray;
}

.menu input {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ddd;
  margin-bottom: 6px;
}

.item {
  padding: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.item:hover {
  background: #f2f2f2;
}

.date-menu {
  position: absolute;
  top: 110%;
  left: 0;
  background: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 10;
}

.date-menu label {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.date-menu input {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}


/* MOBILE */
@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
    width: 100%;
  }

  .dropdown button,
  .date-btn {
    width: 100%;
  }
}
