USE [MMEE_Dev]
GO
/****** Object:  User [Jitender]    Script Date: 1/31/2026 7:12:33 PM ******/
CREATE USER [Jitender] FOR LOGIN [Jitender] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[tbl_City]    Script Date: 1/31/2026 7:12:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_City](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](128) NULL,
	[StateId] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tbl_City] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ClientWallet]    Script Date: 1/31/2026 7:12:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ClientWallet](
	[ClientWalletEntryId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentId] [int] NOT NULL,
	[AmountCredited] [decimal](10, 4) NOT NULL,
	[AmountDebited] [decimal](10, 4) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_ClientWallet] PRIMARY KEY CLUSTERED 
(
	[ClientWalletEntryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Country]    Script Date: 1/31/2026 7:12:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Country](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](128) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tbl_Country] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_EventBooking]    Script Date: 1/31/2026 7:12:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_EventBooking](
	[EventBookingId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentId] [int] NOT NULL,
	[ClientWalletEntryId] [int] NOT NULL,
	[EventStatusId] [int] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_tbl_EventBooking] PRIMARY KEY CLUSTERED 
(
	[EventBookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_EventStatus]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_EventStatus](
	[EventStatusId] [int] IDENTITY(1,1) NOT NULL,
	[EventStatusName] [varbinary](64) NULL,
 CONSTRAINT [PK_tbl_EventStatus] PRIMARY KEY CLUSTERED 
(
	[EventStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_EventType]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_EventType](
	[EventTypeId] [int] NOT NULL,
	[EventTypeName] [nvarchar](128) NULL,
 CONSTRAINT [PK_tbl_EventType] PRIMARY KEY CLUSTERED 
(
	[EventTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_LoginByType]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LoginByType](
	[LoginByTypeId] [int] IDENTITY(1,1) NOT NULL,
	[LoginByTypeName] [varchar](64) NULL,
 CONSTRAINT [PK_tb_LoginByType] PRIMARY KEY CLUSTERED 
(
	[LoginByTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_MMEEOffer]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MMEEOffer](
	[MMEEOfferId] [int] IDENTITY(1,1) NOT NULL,
	[MMEEOffername] [varchar](128) NULL,
	[MMEEOfferDescription] [nvarchar](max) NULL,
	[MMEEOfferTypeId] [int] NULL,
	[VendorServiceId] [int] NULL,
	[OfferRate] [decimal](2, 2) NULL,
	[OfferStartDate] [datetime] NULL,
	[OfferEndDate] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tbl_MMEEOffer] PRIMARY KEY CLUSTERED 
(
	[MMEEOfferId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_MMEEOfferType]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MMEEOfferType](
	[MMEEOfferTypeId] [int] IDENTITY(1,1) NOT NULL,
	[MMEEOfferTypeName] [varchar](64) NULL,
 CONSTRAINT [PK_MMEEOfferTypeId] PRIMARY KEY CLUSTERED 
(
	[MMEEOfferTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Notification]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Notification](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[NotificationDescription] [nvarchar](max) NULL,
	[NotificationStartDate] [datetime] NULL,
	[NotificationEndDate] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tbl_Notification] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Payment]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Payment](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentMethodId] [int] NOT NULL,
	[PaymentStatusId] [int] NOT NULL,
	[PaymentByUserId] [int] NOT NULL,
	[PaymentCreditAmount] [decimal](18, 4) NULL,
	[PaymentDebitAmount] [decimal](18, 4) NULL,
	[PaymentTransactionId] [nvarchar](1024) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
 CONSTRAINT [PK_tbl_Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PaymentMethod]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PaymentMethod](
	[PaymentMethodId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentMethodTypeName] [varchar](64) NULL,
 CONSTRAINT [PK_PaymentMethodId] PRIMARY KEY CLUSTERED 
(
	[PaymentMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PaymentStatus]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PaymentStatus](
	[PaymentStatusId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentStatusName] [varchar](64) NULL,
 CONSTRAINT [PK_tbl_PaymentStatus] PRIMARY KEY CLUSTERED 
(
	[PaymentStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_SecurityQuestion]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SecurityQuestion](
	[SecurityQuestionId] [int] IDENTITY(1,1) NOT NULL,
	[SecurityQuestion] [nvarchar](1024) NULL,
 CONSTRAINT [PK_tbl_SecurityQuestion] PRIMARY KEY CLUSTERED 
(
	[SecurityQuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ServiceProviderRoaster]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ServiceProviderRoaster](
	[ServiceProviderRoasterId] [int] IDENTITY(1,1) NOT NULL,
	[TimeSlotId] [int] NOT NULL,
	[VendorServiceId] [int] NULL,
	[Charges] [decimal](18, 4) NOT NULL,
	[StarteDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[IsWholeDayOut] [bit] NULL,
	[HasBooked] [bit] NULL,
 CONSTRAINT [PK_tbl_ServiceProviderRoaster] PRIMARY KEY CLUSTERED 
(
	[ServiceProviderRoasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Sponsor]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Sponsor](
	[SponsorId] [int] IDENTITY(1,1) NOT NULL,
	[SponsorDescription] [varchar](max) NULL,
	[SponsorStartDate] [datetime] NULL,
	[SponsorEndDate] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tbl_Sponsor] PRIMARY KEY CLUSTERED 
(
	[SponsorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_State]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_State](
	[StateId] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [nvarchar](128) NULL,
	[CountryId] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tbl_State] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_TimeSlot]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_TimeSlot](
	[TimeSlotId] [int] IDENTITY(1,1) NOT NULL,
	[TimeSlotName] [nchar](10) NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [nchar](10) NULL,
 CONSTRAINT [PK_tbl_TimeSlot] PRIMARY KEY CLUSTERED 
(
	[TimeSlotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_TransactionType]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_TransactionType](
	[TransactionTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TransactionTypeName] [varchar](64) NULL,
 CONSTRAINT [PK_tbl_TransactionType] PRIMARY KEY CLUSTERED 
(
	[TransactionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_User]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserEmail] [nvarchar](256) NULL,
	[UserMobile] [nvarchar](64) NOT NULL,
	[UserTypeId] [int] NULL,
	[UserStatusId] [int] NULL,
	[UserAddressId] [int] NULL,
	[IsClientLogin] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
	[UserAvatarUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbl_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserAddress]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserAddress](
	[UserAddressId] [int] IDENTITY(1,1) NOT NULL,
	[UserAddressTypeId] [int] NULL,
	[UserAddess1] [nvarchar](max) NULL,
	[UserAddress] [nvarchar](max) NULL,
	[AddressLandMark] [nvarchar](64) NULL,
	[CountryId] [int] NULL,
	[StateId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[GoogleMapLocationLink] [nvarchar](max) NULL,
	[Letitude] [decimal](18, 0) NULL,
	[Logitude] [decimal](18, 0) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_tbl_UserAddress] PRIMARY KEY CLUSTERED 
(
	[UserAddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserAddressType]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserAddressType](
	[UserAddressTypeId] [int] IDENTITY(1,1) NOT NULL,
	[UserAddressTypeName] [varchar](64) NULL,
 CONSTRAINT [PK_UserAddressType_UserAddressTypeId] PRIMARY KEY CLUSTERED 
(
	[UserAddressTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserAspiredLocation]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserAspiredLocation](
	[UserAspiredLocationId] [int] IDENTITY(1,1) NOT NULL,
	[UserAddress1] [nvarchar](max) NOT NULL,
	[UserAddress2] [nvarchar](max) NULL,
	[AddressLandMark] [nvarchar](64) NULL,
	[CountryId] [int] NOT NULL,
	[StateId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[GoogleMapLocationUrl] [nvarchar](max) NULL,
	[Letitude] [decimal](18, 5) NULL,
	[Logitude] [decimal](18, 5) NULL,
 CONSTRAINT [PK_UserAspiredLocationId] PRIMARY KEY CLUSTERED 
(
	[UserAspiredLocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserCredential]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserCredential](
	[UserCredetialsId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[UserPassword] [nvarchar](512) NOT NULL,
	[SecurityQuestionId] [int] NULL,
	[SecurityQuestionAnswer] [nvarchar](128) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
	[UserRefershToken] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbl_UserCredential] PRIMARY KEY CLUSTERED 
(
	[UserCredetialsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserLoginInfo]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserLoginInfo](
	[LoginInfoId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[LoginTime] [datetime] NULL,
	[LogoutTime] [datetime] NULL,
	[LoginJWToken] [nvarchar](max) NULL,
	[LoginUserType] [int] NULL,
	[LogoutUserType] [int] NULL,
	[LoginByTypeId] [int] NULL,
 CONSTRAINT [PK_tbl_UserLoginInfo] PRIMARY KEY CLUSTERED 
(
	[LoginInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserReview]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserReview](
	[UserReviewId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[UserReviewComments] [nvarchar](max) NOT NULL,
	[UserReviewRating] [int] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [nchar](10) NULL,
 CONSTRAINT [PK_tbl_UserReview] PRIMARY KEY CLUSTERED 
(
	[UserReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserStatus]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserStatus](
	[UserStatusId] [int] IDENTITY(1,1) NOT NULL,
	[UserStatusName] [varchar](64) NULL,
 CONSTRAINT [PK_tbl_UserStatus] PRIMARY KEY CLUSTERED 
(
	[UserStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserTestimonial]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserTestimonial](
	[UserTestimonialId] [int] IDENTITY(1,1) NOT NULL,
	[UserWishListId] [int] NULL,
	[UserTestimonialComments] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserTestimonialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserType]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserType](
	[UserTypeId] [int] IDENTITY(1,1) NOT NULL,
	[UserTypeName] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_UserType] PRIMARY KEY CLUSTERED 
(
	[UserTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserWishList]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserWishList](
	[UserWishListId] [int] IDENTITY(1,1) NOT NULL,
	[WisherUserId] [int] NOT NULL,
	[UserAspiredLocationId] [int] NULL,
	[VendorServiceId] [int] NOT NULL,
	[AspiredStartDate] [int] NULL,
	[AspiredEndDate] [int] NULL,
	[IsWishConfirmed] [bit] NULL,
	[ServiceProviderRoasterId] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_tbl_UserWishList] PRIMARY KEY CLUSTERED 
(
	[UserWishListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Vendor]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Vendor](
	[VendorId] [int] IDENTITY(1,1) NOT NULL,
	[VendorName] [nvarchar](128) NULL,
	[UserAddressId] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_tbl_Vendor] PRIMARY KEY CLUSTERED 
(
	[VendorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_VendorService]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_VendorService](
	[VendorServiceId] [int] IDENTITY(1,1) NOT NULL,
	[VendorServiceName] [nvarchar](512) NULL,
	[Mobile] [nvarchar](32) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[VendorId] [int] NOT NULL,
	[EventTypeId] [int] NOT NULL,
	[VendorServiceTypeId] [int] NOT NULL,
	[PhotoUrls] [nvarchar](max) NULL,
	[VideosUrl] [nvarchar](max) NULL,
	[MMEEPlatformChargeRate] [decimal](5, 2) NULL,
	[VendorServiceHTML] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [date] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_VendorServiceId] PRIMARY KEY CLUSTERED 
(
	[VendorServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_VendorServiceCharge]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_VendorServiceCharge](
	[VendorServiceChargeId] [int] IDENTITY(1,1) NOT NULL,
	[VendorServiceId] [int] NOT NULL,
	[ServiceAmount] [decimal](18, 2) NOT NULL,
	[ServiceDiscount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_tbl_VendorServiceCharge] PRIMARY KEY CLUSTERED 
(
	[VendorServiceChargeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_VendorServiceReview]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_VendorServiceReview](
	[VendorServiceReviewId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceReviewComments] [nvarchar](max) NULL,
	[VendorServiceRatings] [int] NULL,
	[WishListId] [int] NULL,
	[EventBookingId] [int] NULL,
	[ReviewByUserId] [int] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_tbl_VendorServiceReview] PRIMARY KEY CLUSTERED 
(
	[VendorServiceReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_VendorServiceType]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_VendorServiceType](
	[VendorServiceTypeId] [int] IDENTITY(1,1) NOT NULL,
	[VendorServiceTypeName] [varchar](128) NULL,
 CONSTRAINT [PK_tbl_VendorServiceType] PRIMARY KEY CLUSTERED 
(
	[VendorServiceTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_WalletTransaction]    Script Date: 1/31/2026 7:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_WalletTransaction](
	[WalletTransactionId] [uniqueidentifier] NOT NULL,
	[ClientWalletId] [int] NOT NULL,
	[UserWishListId] [int] NOT NULL,
	[AmountCredited] [decimal](10, 4) NOT NULL,
	[AmountDebited] [decimal](10, 4) NOT NULL,
	[TransactionTypeId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_WalletTransaction] PRIMARY KEY CLUSTERED 
(
	[WalletTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_City] ADD  CONSTRAINT [DF_tbl_City_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_Country] ADD  CONSTRAINT [DF_tbl_Country_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_ServiceProviderRoaster] ADD  CONSTRAINT [DF_tbl_ServiceProviderRoaster_IsWholeDayOut]  DEFAULT ((0)) FOR [IsWholeDayOut]
GO
ALTER TABLE [dbo].[tbl_ServiceProviderRoaster] ADD  CONSTRAINT [DF_tbl_ServiceProviderRoaster_HasBooked]  DEFAULT ((0)) FOR [HasBooked]
GO
ALTER TABLE [dbo].[tbl_State] ADD  CONSTRAINT [DF_tbl_State_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_VendorServiceReview] ADD  CONSTRAINT [DF_tbl_VendorServiceReview_VendorServiceRatings]  DEFAULT ((0)) FOR [VendorServiceRatings]
GO
ALTER TABLE [dbo].[tbl_WalletTransaction] ADD  CONSTRAINT [DF_tbl_WalletTransaction_WalletTransactionId]  DEFAULT (newsequentialid()) FOR [WalletTransactionId]
GO
ALTER TABLE [dbo].[tbl_City]  WITH CHECK ADD  CONSTRAINT [FK_tb_City_tb_State] FOREIGN KEY([StateId])
REFERENCES [dbo].[tbl_State] ([StateId])
GO
ALTER TABLE [dbo].[tbl_City] CHECK CONSTRAINT [FK_tb_City_tb_State]
GO
ALTER TABLE [dbo].[tbl_ClientWallet]  WITH CHECK ADD  CONSTRAINT [FK_tb_ClientWallet_tb_Payment] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[tbl_Payment] ([PaymentId])
GO
ALTER TABLE [dbo].[tbl_ClientWallet] CHECK CONSTRAINT [FK_tb_ClientWallet_tb_Payment]
GO
ALTER TABLE [dbo].[tbl_ClientWallet]  WITH CHECK ADD  CONSTRAINT [FK_tb_ClientWallet_tb_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[tbl_User] ([UserId])
GO
ALTER TABLE [dbo].[tbl_ClientWallet] CHECK CONSTRAINT [FK_tb_ClientWallet_tb_User]
GO
ALTER TABLE [dbo].[tbl_EventBooking]  WITH CHECK ADD  CONSTRAINT [FK_tb_EventBooking_tb_ClientWallet] FOREIGN KEY([ClientWalletEntryId])
REFERENCES [dbo].[tbl_ClientWallet] ([ClientWalletEntryId])
GO
ALTER TABLE [dbo].[tbl_EventBooking] CHECK CONSTRAINT [FK_tb_EventBooking_tb_ClientWallet]
GO
ALTER TABLE [dbo].[tbl_EventBooking]  WITH CHECK ADD  CONSTRAINT [FK_tb_EventBooking_tb_EventStatus] FOREIGN KEY([EventStatusId])
REFERENCES [dbo].[tbl_EventStatus] ([EventStatusId])
GO
ALTER TABLE [dbo].[tbl_EventBooking] CHECK CONSTRAINT [FK_tb_EventBooking_tb_EventStatus]
GO
ALTER TABLE [dbo].[tbl_EventBooking]  WITH CHECK ADD  CONSTRAINT [FK_tb_EventBooking_tb_Payment] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[tbl_Payment] ([PaymentId])
GO
ALTER TABLE [dbo].[tbl_EventBooking] CHECK CONSTRAINT [FK_tb_EventBooking_tb_Payment]
GO
ALTER TABLE [dbo].[tbl_EventBooking]  WITH CHECK ADD  CONSTRAINT [FK_tb_EventBookingCreatedBy_tb_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[tbl_User] ([UserId])
GO
ALTER TABLE [dbo].[tbl_EventBooking] CHECK CONSTRAINT [FK_tb_EventBookingCreatedBy_tb_User]
GO
ALTER TABLE [dbo].[tbl_EventBooking]  WITH CHECK ADD  CONSTRAINT [FK_tb_EventBookingModifiedBy_tb_User] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[tbl_User] ([UserId])
GO
ALTER TABLE [dbo].[tbl_EventBooking] CHECK CONSTRAINT [FK_tb_EventBookingModifiedBy_tb_User]
GO
ALTER TABLE [dbo].[tbl_MMEEOffer]  WITH CHECK ADD  CONSTRAINT [FK_tbl_MMEEOffer_tb_MMEEOfferType] FOREIGN KEY([MMEEOfferTypeId])
REFERENCES [dbo].[tbl_MMEEOfferType] ([MMEEOfferTypeId])
GO
ALTER TABLE [dbo].[tbl_MMEEOffer] CHECK CONSTRAINT [FK_tbl_MMEEOffer_tb_MMEEOfferType]
GO
ALTER TABLE [dbo].[tbl_MMEEOffer]  WITH CHECK ADD  CONSTRAINT [FK_tbl_MMEEOffer_tb_VendorService] FOREIGN KEY([VendorServiceId])
REFERENCES [dbo].[tbl_VendorService] ([VendorServiceId])
GO
ALTER TABLE [dbo].[tbl_MMEEOffer] CHECK CONSTRAINT [FK_tbl_MMEEOffer_tb_VendorService]
GO
ALTER TABLE [dbo].[tbl_Payment]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Payment_tb_PaymentMethod] FOREIGN KEY([PaymentMethodId])
REFERENCES [dbo].[tbl_PaymentMethod] ([PaymentMethodId])
GO
ALTER TABLE [dbo].[tbl_Payment] CHECK CONSTRAINT [FK_tbl_Payment_tb_PaymentMethod]
GO
ALTER TABLE [dbo].[tbl_Payment]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Payment_tb_PaymentStatus] FOREIGN KEY([PaymentStatusId])
REFERENCES [dbo].[tbl_PaymentStatus] ([PaymentStatusId])
GO
ALTER TABLE [dbo].[tbl_Payment] CHECK CONSTRAINT [FK_tbl_Payment_tb_PaymentStatus]
GO
ALTER TABLE [dbo].[tbl_Payment]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Payment_tb_User] FOREIGN KEY([PaymentByUserId])
REFERENCES [dbo].[tbl_User] ([UserId])
GO
ALTER TABLE [dbo].[tbl_Payment] CHECK CONSTRAINT [FK_tbl_Payment_tb_User]
GO
ALTER TABLE [dbo].[tbl_ServiceProviderRoaster]  WITH CHECK ADD  CONSTRAINT [FK_tbl_ServiceProviderRoaster_tb_TimeSlot] FOREIGN KEY([TimeSlotId])
REFERENCES [dbo].[tbl_TimeSlot] ([TimeSlotId])
GO
ALTER TABLE [dbo].[tbl_ServiceProviderRoaster] CHECK CONSTRAINT [FK_tbl_ServiceProviderRoaster_tb_TimeSlot]
GO
ALTER TABLE [dbo].[tbl_ServiceProviderRoaster]  WITH CHECK ADD  CONSTRAINT [FK_tbl_ServiceProviderRoaster_tb_VendorService] FOREIGN KEY([VendorServiceId])
REFERENCES [dbo].[tbl_VendorService] ([VendorServiceId])
GO
ALTER TABLE [dbo].[tbl_ServiceProviderRoaster] CHECK CONSTRAINT [FK_tbl_ServiceProviderRoaster_tb_VendorService]
GO
ALTER TABLE [dbo].[tbl_State]  WITH CHECK ADD  CONSTRAINT [FK_tb_State_tb_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[tbl_Country] ([CountryId])
GO
ALTER TABLE [dbo].[tbl_State] CHECK CONSTRAINT [FK_tb_State_tb_Country]
GO
ALTER TABLE [dbo].[tbl_User]  WITH CHECK ADD  CONSTRAINT [FK_tbl_User_tb_UserAddress] FOREIGN KEY([UserAddressId])
REFERENCES [dbo].[tbl_UserAddress] ([UserAddressId])
GO
ALTER TABLE [dbo].[tbl_User] CHECK CONSTRAINT [FK_tbl_User_tb_UserAddress]
GO
ALTER TABLE [dbo].[tbl_User]  WITH CHECK ADD  CONSTRAINT [FK_tbl_User_tb_UserStatus] FOREIGN KEY([UserStatusId])
REFERENCES [dbo].[tbl_UserStatus] ([UserStatusId])
GO
ALTER TABLE [dbo].[tbl_User] CHECK CONSTRAINT [FK_tbl_User_tb_UserStatus]
GO
ALTER TABLE [dbo].[tbl_User]  WITH CHECK ADD  CONSTRAINT [FK_tbl_User_tb_UserType] FOREIGN KEY([UserTypeId])
REFERENCES [dbo].[tbl_UserType] ([UserTypeId])
GO
ALTER TABLE [dbo].[tbl_User] CHECK CONSTRAINT [FK_tbl_User_tb_UserType]
GO
ALTER TABLE [dbo].[tbl_UserAddress]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserAddress_tb_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[tbl_City] ([CityId])
GO
ALTER TABLE [dbo].[tbl_UserAddress] CHECK CONSTRAINT [FK_tbl_UserAddress_tb_City]
GO
ALTER TABLE [dbo].[tbl_UserAddress]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserAddress_tb_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[tbl_Country] ([CountryId])
GO
ALTER TABLE [dbo].[tbl_UserAddress] CHECK CONSTRAINT [FK_tbl_UserAddress_tb_Country]
GO
ALTER TABLE [dbo].[tbl_UserAddress]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserAddress_tb_State] FOREIGN KEY([StateId])
REFERENCES [dbo].[tbl_State] ([StateId])
GO
ALTER TABLE [dbo].[tbl_UserAddress] CHECK CONSTRAINT [FK_tbl_UserAddress_tb_State]
GO
ALTER TABLE [dbo].[tbl_UserAddress]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserAddress_tb_UserAddressType] FOREIGN KEY([UserAddressTypeId])
REFERENCES [dbo].[tbl_UserAddressType] ([UserAddressTypeId])
GO
ALTER TABLE [dbo].[tbl_UserAddress] CHECK CONSTRAINT [FK_tbl_UserAddress_tb_UserAddressType]
GO
ALTER TABLE [dbo].[tbl_UserAspiredLocation]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserAspiredLocation_tb_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[tbl_City] ([CityId])
GO
ALTER TABLE [dbo].[tbl_UserAspiredLocation] CHECK CONSTRAINT [FK_tbl_UserAspiredLocation_tb_City]
GO
ALTER TABLE [dbo].[tbl_UserAspiredLocation]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserAspiredLocation_tb_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[tbl_Country] ([CountryId])
GO
ALTER TABLE [dbo].[tbl_UserAspiredLocation] CHECK CONSTRAINT [FK_tbl_UserAspiredLocation_tb_Country]
GO
ALTER TABLE [dbo].[tbl_UserAspiredLocation]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserAspiredLocation_tb_State] FOREIGN KEY([StateId])
REFERENCES [dbo].[tbl_State] ([StateId])
GO
ALTER TABLE [dbo].[tbl_UserAspiredLocation] CHECK CONSTRAINT [FK_tbl_UserAspiredLocation_tb_State]
GO
ALTER TABLE [dbo].[tbl_UserCredential]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserCredential_tb_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[tbl_User] ([UserId])
GO
ALTER TABLE [dbo].[tbl_UserCredential] CHECK CONSTRAINT [FK_tbl_UserCredential_tb_User]
GO
ALTER TABLE [dbo].[tbl_UserLoginInfo]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserLoginInfo_tb_LoginByType] FOREIGN KEY([LoginByTypeId])
REFERENCES [dbo].[tbl_LoginByType] ([LoginByTypeId])
GO
ALTER TABLE [dbo].[tbl_UserLoginInfo] CHECK CONSTRAINT [FK_tbl_UserLoginInfo_tb_LoginByType]
GO
ALTER TABLE [dbo].[tbl_UserLoginInfo]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserLoginInfo_tb_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[tbl_User] ([UserId])
GO
ALTER TABLE [dbo].[tbl_UserLoginInfo] CHECK CONSTRAINT [FK_tbl_UserLoginInfo_tb_User]
GO
ALTER TABLE [dbo].[tbl_UserLoginInfo]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserLoginInfo_tb_UserType] FOREIGN KEY([LoginUserType])
REFERENCES [dbo].[tbl_UserType] ([UserTypeId])
GO
ALTER TABLE [dbo].[tbl_UserLoginInfo] CHECK CONSTRAINT [FK_tbl_UserLoginInfo_tb_UserType]
GO
ALTER TABLE [dbo].[tbl_UserLoginInfo]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserLogoutInfo_tb_UserType] FOREIGN KEY([LogoutUserType])
REFERENCES [dbo].[tbl_UserType] ([UserTypeId])
GO
ALTER TABLE [dbo].[tbl_UserLoginInfo] CHECK CONSTRAINT [FK_tbl_UserLogoutInfo_tb_UserType]
GO
ALTER TABLE [dbo].[tbl_UserReview]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserReview_tb_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[tbl_User] ([UserId])
GO
ALTER TABLE [dbo].[tbl_UserReview] CHECK CONSTRAINT [FK_tbl_UserReview_tb_User]
GO
ALTER TABLE [dbo].[tbl_UserTestimonial]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Testimonial_tb_User] FOREIGN KEY([UserWishListId])
REFERENCES [dbo].[tbl_UserWishList] ([UserWishListId])
GO
ALTER TABLE [dbo].[tbl_UserTestimonial] CHECK CONSTRAINT [FK_tbl_Testimonial_tb_User]
GO
ALTER TABLE [dbo].[tbl_UserWishList]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserWishList_tb_User] FOREIGN KEY([WisherUserId])
REFERENCES [dbo].[tbl_User] ([UserId])
GO
ALTER TABLE [dbo].[tbl_UserWishList] CHECK CONSTRAINT [FK_tbl_UserWishList_tb_User]
GO
ALTER TABLE [dbo].[tbl_UserWishList]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserWishList_tb_UserAspiredLocation] FOREIGN KEY([UserAspiredLocationId])
REFERENCES [dbo].[tbl_UserAspiredLocation] ([UserAspiredLocationId])
GO
ALTER TABLE [dbo].[tbl_UserWishList] CHECK CONSTRAINT [FK_tbl_UserWishList_tb_UserAspiredLocation]
GO
ALTER TABLE [dbo].[tbl_UserWishList]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserWishList_tb_VendorService] FOREIGN KEY([VendorServiceId])
REFERENCES [dbo].[tbl_VendorService] ([VendorServiceId])
GO
ALTER TABLE [dbo].[tbl_UserWishList] CHECK CONSTRAINT [FK_tbl_UserWishList_tb_VendorService]
GO
ALTER TABLE [dbo].[tbl_Vendor]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Vendor_tb_UserAddress] FOREIGN KEY([UserAddressId])
REFERENCES [dbo].[tbl_UserAddress] ([UserAddressId])
GO
ALTER TABLE [dbo].[tbl_Vendor] CHECK CONSTRAINT [FK_tbl_Vendor_tb_UserAddress]
GO
ALTER TABLE [dbo].[tbl_VendorService]  WITH CHECK ADD  CONSTRAINT [FK_tbl_VendorService_tb_EventType] FOREIGN KEY([EventTypeId])
REFERENCES [dbo].[tbl_EventType] ([EventTypeId])
GO
ALTER TABLE [dbo].[tbl_VendorService] CHECK CONSTRAINT [FK_tbl_VendorService_tb_EventType]
GO
ALTER TABLE [dbo].[tbl_VendorServiceCharge]  WITH CHECK ADD  CONSTRAINT [FK_tbl_VendorServiceCharge_tb_VendorService] FOREIGN KEY([VendorServiceId])
REFERENCES [dbo].[tbl_VendorService] ([VendorServiceId])
GO
ALTER TABLE [dbo].[tbl_VendorServiceCharge] CHECK CONSTRAINT [FK_tbl_VendorServiceCharge_tb_VendorService]
GO
ALTER TABLE [dbo].[tbl_VendorServiceReview]  WITH CHECK ADD  CONSTRAINT [FK_tbl_VendorServiceReview_tb_EventBooking] FOREIGN KEY([EventBookingId])
REFERENCES [dbo].[tbl_EventBooking] ([EventBookingId])
GO
ALTER TABLE [dbo].[tbl_VendorServiceReview] CHECK CONSTRAINT [FK_tbl_VendorServiceReview_tb_EventBooking]
GO
ALTER TABLE [dbo].[tbl_VendorServiceReview]  WITH CHECK ADD  CONSTRAINT [FK_tbl_VendorServiceReview_tb_User] FOREIGN KEY([EventBookingId])
REFERENCES [dbo].[tbl_User] ([UserId])
GO
ALTER TABLE [dbo].[tbl_VendorServiceReview] CHECK CONSTRAINT [FK_tbl_VendorServiceReview_tb_User]
GO
ALTER TABLE [dbo].[tbl_VendorServiceReview]  WITH CHECK ADD  CONSTRAINT [FK_tbl_VendorServiceReview_tb_UserWishList] FOREIGN KEY([WishListId])
REFERENCES [dbo].[tbl_UserWishList] ([UserWishListId])
GO
ALTER TABLE [dbo].[tbl_VendorServiceReview] CHECK CONSTRAINT [FK_tbl_VendorServiceReview_tb_UserWishList]
GO
ALTER TABLE [dbo].[tbl_VendorServiceReview]  WITH CHECK ADD  CONSTRAINT [FK_tbl_VendorServiceReview_tb_Vendor] FOREIGN KEY([WishListId])
REFERENCES [dbo].[tbl_UserWishList] ([UserWishListId])
GO
ALTER TABLE [dbo].[tbl_VendorServiceReview] CHECK CONSTRAINT [FK_tbl_VendorServiceReview_tb_Vendor]
GO
ALTER TABLE [dbo].[tbl_WalletTransaction]  WITH CHECK ADD  CONSTRAINT [FK_tbl_WalletTransaction_tb_ClientWallet] FOREIGN KEY([ClientWalletId])
REFERENCES [dbo].[tbl_ClientWallet] ([ClientWalletEntryId])
GO
ALTER TABLE [dbo].[tbl_WalletTransaction] CHECK CONSTRAINT [FK_tbl_WalletTransaction_tb_ClientWallet]
GO
ALTER TABLE [dbo].[tbl_WalletTransaction]  WITH CHECK ADD  CONSTRAINT [FK_tbl_WalletTransaction_tb_TransactionType] FOREIGN KEY([UserWishListId])
REFERENCES [dbo].[tbl_TransactionType] ([TransactionTypeId])
GO
ALTER TABLE [dbo].[tbl_WalletTransaction] CHECK CONSTRAINT [FK_tbl_WalletTransaction_tb_TransactionType]
GO
ALTER TABLE [dbo].[tbl_WalletTransaction]  WITH CHECK ADD  CONSTRAINT [FK_tbl_WalletTransaction_tb_UserWishList] FOREIGN KEY([UserWishListId])
REFERENCES [dbo].[tbl_UserWishList] ([UserWishListId])
GO
ALTER TABLE [dbo].[tbl_WalletTransaction] CHECK CONSTRAINT [FK_tbl_WalletTransaction_tb_UserWishList]
GO
