USE [MMEE_Dev]
GO
/****** Object:  Table [dbo].[tbl_UserStatus]    Script Date: 2/3/2026 10:56:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserStatus](
	[UserStatusId] [int] IDENTITY(1,1) NOT NULL,
	[UserStatusName] [varchar](64) NULL,
 CONSTRAINT [PK_tbl_UserStatus] PRIMARY KEY CLUSTERED 
(
	[UserStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
