USE [MMEE_Dev]
GO
/****** Object:  Table [dbo].[tbl_VendorService]    Script Date: 2/3/2026 10:56:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_VendorService](
	[VendorServiceId] [int] IDENTITY(1,1) NOT NULL,
	[VendorServiceName] [nvarchar](512) NULL,
	[Mobile] [nvarchar](32) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[VendorId] [int] NOT NULL,
	[EventTypeId] [int] NOT NULL,
	[VendorServiceTypeId] [int] NOT NULL,
	[PhotoUrls] [nvarchar](max) NULL,
	[VideosUrl] [nvarchar](max) NULL,
	[MMEEPlatformChargeRate] [decimal](5, 2) NULL,
	[VendorServiceHTML] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [date] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_VendorServiceId] PRIMARY KEY CLUSTERED 
(
	[VendorServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_VendorService]  WITH CHECK ADD  CONSTRAINT [FK_tbl_VendorService_tb_EventType] FOREIGN KEY([EventTypeId])
REFERENCES [dbo].[tbl_EventType] ([EventTypeId])
GO
ALTER TABLE [dbo].[tbl_VendorService] CHECK CONSTRAINT [FK_tbl_VendorService_tb_EventType]
GO
