USE [MMEE_Dev]
GO
/****** Object:  Table [dbo].[tbl_UserLoginInfo]    Script Date: 2/3/2026 10:56:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserLoginInfo](
	[LoginInfoId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[LoginTime] [datetime] NULL,
	[LogoutTime] [datetime] NULL,
	[LoginJWToken] [nvarchar](max) NULL,
	[LoginUserType] [int] NULL,
	[LogoutUserType] [int] NULL,
	[LoginByTypeId] [int] NULL,
 CONSTRAINT [PK_tbl_UserLoginInfo] PRIMARY KEY CLUSTERED 
(
	[LoginInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_UserLoginInfo]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserLoginInfo_tb_LoginByType] FOREIGN KEY([LoginByTypeId])
REFERENCES [dbo].[tbl_LoginByType] ([LoginByTypeId])
GO
ALTER TABLE [dbo].[tbl_UserLoginInfo] CHECK CONSTRAINT [FK_tbl_UserLoginInfo_tb_LoginByType]
GO
ALTER TABLE [dbo].[tbl_UserLoginInfo]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserLoginInfo_tb_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[tbl_User] ([UserId])
GO
ALTER TABLE [dbo].[tbl_UserLoginInfo] CHECK CONSTRAINT [FK_tbl_UserLoginInfo_tb_User]
GO
ALTER TABLE [dbo].[tbl_UserLoginInfo]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserLoginInfo_tb_UserType] FOREIGN KEY([LoginUserType])
REFERENCES [dbo].[tbl_UserType] ([UserTypeId])
GO
ALTER TABLE [dbo].[tbl_UserLoginInfo] CHECK CONSTRAINT [FK_tbl_UserLoginInfo_tb_UserType]
GO
ALTER TABLE [dbo].[tbl_UserLoginInfo]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserLogoutInfo_tb_UserType] FOREIGN KEY([LogoutUserType])
REFERENCES [dbo].[tbl_UserType] ([UserTypeId])
GO
ALTER TABLE [dbo].[tbl_UserLoginInfo] CHECK CONSTRAINT [FK_tbl_UserLogoutInfo_tb_UserType]
GO
