USE [MMEE_Dev]
GO
/****** Object:  Table [dbo].[tbl_VendorServiceCharge]    Script Date: 2/3/2026 10:56:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_VendorServiceCharge](
	[VendorServiceChargeId] [int] IDENTITY(1,1) NOT NULL,
	[VendorServiceId] [int] NOT NULL,
	[ServiceAmount] [decimal](18, 2) NOT NULL,
	[ServiceDiscount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_tbl_VendorServiceCharge] PRIMARY KEY CLUSTERED 
(
	[VendorServiceChargeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_VendorServiceCharge]  WITH CHECK ADD  CONSTRAINT [FK_tbl_VendorServiceCharge_tb_VendorService] FOREIGN KEY([VendorServiceId])
REFERENCES [dbo].[tbl_VendorService] ([VendorServiceId])
GO
ALTER TABLE [dbo].[tbl_VendorServiceCharge] CHECK CONSTRAINT [FK_tbl_VendorServiceCharge_tb_VendorService]
GO
