USE [MMEE_Dev]
GO
/****** Object:  Table [dbo].[tbl_UserReview]    Script Date: 2/3/2026 10:56:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserReview](
	[UserReviewId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[UserReviewComments] [nvarchar](max) NOT NULL,
	[UserReviewRating] [int] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [nchar](10) NULL,
 CONSTRAINT [PK_tbl_UserReview] PRIMARY KEY CLUSTERED 
(
	[UserReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_UserReview]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserReview_tb_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[tbl_User] ([UserId])
GO
ALTER TABLE [dbo].[tbl_UserReview] CHECK CONSTRAINT [FK_tbl_UserReview_tb_User]
GO
