USE [MMEE_Dev]
GO
/****** Object:  Table [dbo].[tbl_WalletTransaction]    Script Date: 2/3/2026 10:56:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_WalletTransaction](
	[WalletTransactionId] [uniqueidentifier] NOT NULL,
	[ClientWalletId] [int] NOT NULL,
	[UserWishListId] [int] NOT NULL,
	[AmountCredited] [decimal](10, 4) NOT NULL,
	[AmountDebited] [decimal](10, 4) NOT NULL,
	[TransactionTypeId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_WalletTransaction] PRIMARY KEY CLUSTERED 
(
	[WalletTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_WalletTransaction] ADD  CONSTRAINT [DF_tbl_WalletTransaction_WalletTransactionId]  DEFAULT (newsequentialid()) FOR [WalletTransactionId]
GO
ALTER TABLE [dbo].[tbl_WalletTransaction]  WITH CHECK ADD  CONSTRAINT [FK_tbl_WalletTransaction_tb_ClientWallet] FOREIGN KEY([ClientWalletId])
REFERENCES [dbo].[tbl_ClientWallet] ([ClientWalletEntryId])
GO
ALTER TABLE [dbo].[tbl_WalletTransaction] CHECK CONSTRAINT [FK_tbl_WalletTransaction_tb_ClientWallet]
GO
ALTER TABLE [dbo].[tbl_WalletTransaction]  WITH CHECK ADD  CONSTRAINT [FK_tbl_WalletTransaction_tb_TransactionType] FOREIGN KEY([UserWishListId])
REFERENCES [dbo].[tbl_TransactionType] ([TransactionTypeId])
GO
ALTER TABLE [dbo].[tbl_WalletTransaction] CHECK CONSTRAINT [FK_tbl_WalletTransaction_tb_TransactionType]
GO
ALTER TABLE [dbo].[tbl_WalletTransaction]  WITH CHECK ADD  CONSTRAINT [FK_tbl_WalletTransaction_tb_UserWishList] FOREIGN KEY([UserWishListId])
REFERENCES [dbo].[tbl_UserWishList] ([UserWishListId])
GO
ALTER TABLE [dbo].[tbl_WalletTransaction] CHECK CONSTRAINT [FK_tbl_WalletTransaction_tb_UserWishList]
GO
