USE [MMEE_Dev]
GO
/****** Object:  Table [dbo].[tbl_ServiceProviderRoaster]    Script Date: 2/3/2026 10:56:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ServiceProviderRoaster](
	[ServiceProviderRoasterId] [int] IDENTITY(1,1) NOT NULL,
	[TimeSlotId] [int] NOT NULL,
	[VendorServiceId] [int] NULL,
	[Charges] [decimal](18, 4) NOT NULL,
	[StarteDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[IsWholeDayOut] [bit] NULL,
	[HasBooked] [bit] NULL,
 CONSTRAINT [PK_tbl_ServiceProviderRoaster] PRIMARY KEY CLUSTERED 
(
	[ServiceProviderRoasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_ServiceProviderRoaster] ADD  CONSTRAINT [DF_tbl_ServiceProviderRoaster_IsWholeDayOut]  DEFAULT ((0)) FOR [IsWholeDayOut]
GO
ALTER TABLE [dbo].[tbl_ServiceProviderRoaster] ADD  CONSTRAINT [DF_tbl_ServiceProviderRoaster_HasBooked]  DEFAULT ((0)) FOR [HasBooked]
GO
ALTER TABLE [dbo].[tbl_ServiceProviderRoaster]  WITH CHECK ADD  CONSTRAINT [FK_tbl_ServiceProviderRoaster_tb_TimeSlot] FOREIGN KEY([TimeSlotId])
REFERENCES [dbo].[tbl_TimeSlot] ([TimeSlotId])
GO
ALTER TABLE [dbo].[tbl_ServiceProviderRoaster] CHECK CONSTRAINT [FK_tbl_ServiceProviderRoaster_tb_TimeSlot]
GO
ALTER TABLE [dbo].[tbl_ServiceProviderRoaster]  WITH CHECK ADD  CONSTRAINT [FK_tbl_ServiceProviderRoaster_tb_VendorService] FOREIGN KEY([VendorServiceId])
REFERENCES [dbo].[tbl_VendorService] ([VendorServiceId])
GO
ALTER TABLE [dbo].[tbl_ServiceProviderRoaster] CHECK CONSTRAINT [FK_tbl_ServiceProviderRoaster_tb_VendorService]
GO
