USE [MMEE_Dev]
GO
/****** Object:  Table [dbo].[tbl_VendorServiceReview]    Script Date: 2/3/2026 10:56:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_VendorServiceReview](
	[VendorServiceReviewId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceReviewComments] [nvarchar](max) NULL,
	[VendorServiceRatings] [int] NULL,
	[WishListId] [int] NULL,
	[EventBookingId] [int] NULL,
	[ReviewByUserId] [int] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_tbl_VendorServiceReview] PRIMARY KEY CLUSTERED 
(
	[VendorServiceReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_VendorServiceReview] ADD  CONSTRAINT [DF_tbl_VendorServiceReview_VendorServiceRatings]  DEFAULT ((0)) FOR [VendorServiceRatings]
GO
ALTER TABLE [dbo].[tbl_VendorServiceReview]  WITH CHECK ADD  CONSTRAINT [FK_tbl_VendorServiceReview_tb_EventBooking] FOREIGN KEY([EventBookingId])
REFERENCES [dbo].[tbl_EventBooking] ([EventBookingId])
GO
ALTER TABLE [dbo].[tbl_VendorServiceReview] CHECK CONSTRAINT [FK_tbl_VendorServiceReview_tb_EventBooking]
GO
ALTER TABLE [dbo].[tbl_VendorServiceReview]  WITH CHECK ADD  CONSTRAINT [FK_tbl_VendorServiceReview_tb_User] FOREIGN KEY([EventBookingId])
REFERENCES [dbo].[tbl_User] ([UserId])
GO
ALTER TABLE [dbo].[tbl_VendorServiceReview] CHECK CONSTRAINT [FK_tbl_VendorServiceReview_tb_User]
GO
ALTER TABLE [dbo].[tbl_VendorServiceReview]  WITH CHECK ADD  CONSTRAINT [FK_tbl_VendorServiceReview_tb_UserWishList] FOREIGN KEY([WishListId])
REFERENCES [dbo].[tbl_UserWishList] ([UserWishListId])
GO
ALTER TABLE [dbo].[tbl_VendorServiceReview] CHECK CONSTRAINT [FK_tbl_VendorServiceReview_tb_UserWishList]
GO
ALTER TABLE [dbo].[tbl_VendorServiceReview]  WITH CHECK ADD  CONSTRAINT [FK_tbl_VendorServiceReview_tb_Vendor] FOREIGN KEY([WishListId])
REFERENCES [dbo].[tbl_UserWishList] ([UserWishListId])
GO
ALTER TABLE [dbo].[tbl_VendorServiceReview] CHECK CONSTRAINT [FK_tbl_VendorServiceReview_tb_Vendor]
GO
