USE [MMEE_Dev]
GO
/****** Object:  Table [dbo].[tbl_UserWishList]    Script Date: 2/3/2026 10:56:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserWishList](
	[UserWishListId] [int] IDENTITY(1,1) NOT NULL,
	[WisherUserId] [int] NOT NULL,
	[UserAspiredLocationId] [int] NULL,
	[VendorServiceId] [int] NOT NULL,
	[AspiredStartDate] [int] NULL,
	[AspiredEndDate] [int] NULL,
	[IsWishConfirmed] [bit] NULL,
	[ServiceProviderRoasterId] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_tbl_UserWishList] PRIMARY KEY CLUSTERED 
(
	[UserWishListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_UserWishList]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserWishList_tb_User] FOREIGN KEY([WisherUserId])
REFERENCES [dbo].[tbl_User] ([UserId])
GO
ALTER TABLE [dbo].[tbl_UserWishList] CHECK CONSTRAINT [FK_tbl_UserWishList_tb_User]
GO
ALTER TABLE [dbo].[tbl_UserWishList]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserWishList_tb_UserAspiredLocation] FOREIGN KEY([UserAspiredLocationId])
REFERENCES [dbo].[tbl_UserAspiredLocation] ([UserAspiredLocationId])
GO
ALTER TABLE [dbo].[tbl_UserWishList] CHECK CONSTRAINT [FK_tbl_UserWishList_tb_UserAspiredLocation]
GO
ALTER TABLE [dbo].[tbl_UserWishList]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserWishList_tb_VendorService] FOREIGN KEY([VendorServiceId])
REFERENCES [dbo].[tbl_VendorService] ([VendorServiceId])
GO
ALTER TABLE [dbo].[tbl_UserWishList] CHECK CONSTRAINT [FK_tbl_UserWishList_tb_VendorService]
GO
