USE [MMEE_Dev]
GO
/****** Object:  Table [dbo].[tbl_City]    Script Date: 2/3/2026 10:56:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_City](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](128) NULL,
	[StateId] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tbl_City] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_City] ADD  CONSTRAINT [DF_tbl_City_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_City]  WITH CHECK ADD  CONSTRAINT [FK_tb_City_tb_State] FOREIGN KEY([StateId])
REFERENCES [dbo].[tbl_State] ([StateId])
GO
ALTER TABLE [dbo].[tbl_City] CHECK CONSTRAINT [FK_tb_City_tb_State]
GO
