USE [MMEE_Dev]
GO
/****** Object:  Table [dbo].[tbl_MMEEOffer]    Script Date: 2/3/2026 10:56:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MMEEOffer](
	[MMEEOfferId] [int] IDENTITY(1,1) NOT NULL,
	[MMEEOffername] [varchar](128) NULL,
	[MMEEOfferDescription] [nvarchar](max) NULL,
	[MMEEOfferTypeId] [int] NULL,
	[VendorServiceId] [int] NULL,
	[OfferRate] [decimal](2, 2) NULL,
	[OfferStartDate] [datetime] NULL,
	[OfferEndDate] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tbl_MMEEOffer] PRIMARY KEY CLUSTERED 
(
	[MMEEOfferId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_MMEEOffer]  WITH CHECK ADD  CONSTRAINT [FK_tbl_MMEEOffer_tb_MMEEOfferType] FOREIGN KEY([MMEEOfferTypeId])
REFERENCES [dbo].[tbl_MMEEOfferType] ([MMEEOfferTypeId])
GO
ALTER TABLE [dbo].[tbl_MMEEOffer] CHECK CONSTRAINT [FK_tbl_MMEEOffer_tb_MMEEOfferType]
GO
ALTER TABLE [dbo].[tbl_MMEEOffer]  WITH CHECK ADD  CONSTRAINT [FK_tbl_MMEEOffer_tb_VendorService] FOREIGN KEY([VendorServiceId])
REFERENCES [dbo].[tbl_VendorService] ([VendorServiceId])
GO
ALTER TABLE [dbo].[tbl_MMEEOffer] CHECK CONSTRAINT [FK_tbl_MMEEOffer_tb_VendorService]
GO
