USE [MMEE_Dev]
GO
/****** Object:  Table [dbo].[tbl_Vendor]    Script Date: 2/3/2026 10:56:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Vendor](
	[VendorId] [int] IDENTITY(1,1) NOT NULL,
	[VendorName] [nvarchar](128) NULL,
	[UserAddressId] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_tbl_Vendor] PRIMARY KEY CLUSTERED 
(
	[VendorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Vendor]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Vendor_tb_UserAddress] FOREIGN KEY([UserAddressId])
REFERENCES [dbo].[tbl_UserAddress] ([UserAddressId])
GO
ALTER TABLE [dbo].[tbl_Vendor] CHECK CONSTRAINT [FK_tbl_Vendor_tb_UserAddress]
GO
