USE [MMEE_Dev]
GO
/****** Object:  Table [dbo].[tbl_ClientWallet]    Script Date: 2/3/2026 10:56:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ClientWallet](
	[ClientWalletEntryId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentId] [int] NOT NULL,
	[AmountCredited] [decimal](10, 4) NOT NULL,
	[AmountDebited] [decimal](10, 4) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_ClientWallet] PRIMARY KEY CLUSTERED 
(
	[ClientWalletEntryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_ClientWallet]  WITH CHECK ADD  CONSTRAINT [FK_tb_ClientWallet_tb_Payment] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[tbl_Payment] ([PaymentId])
GO
ALTER TABLE [dbo].[tbl_ClientWallet] CHECK CONSTRAINT [FK_tb_ClientWallet_tb_Payment]
GO
ALTER TABLE [dbo].[tbl_ClientWallet]  WITH CHECK ADD  CONSTRAINT [FK_tb_ClientWallet_tb_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[tbl_User] ([UserId])
GO
ALTER TABLE [dbo].[tbl_ClientWallet] CHECK CONSTRAINT [FK_tb_ClientWallet_tb_User]
GO
