USE [MMEE_Dev]
GO
/****** Object:  Table [dbo].[tbl_Payment]    Script Date: 2/3/2026 10:56:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Payment](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentMethodId] [int] NOT NULL,
	[PaymentStatusId] [int] NOT NULL,
	[PaymentByUserId] [int] NOT NULL,
	[PaymentCreditAmount] [decimal](18, 4) NULL,
	[PaymentDebitAmount] [decimal](18, 4) NULL,
	[PaymentTransactionId] [nvarchar](1024) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
 CONSTRAINT [PK_tbl_Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Payment]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Payment_tb_PaymentMethod] FOREIGN KEY([PaymentMethodId])
REFERENCES [dbo].[tbl_PaymentMethod] ([PaymentMethodId])
GO
ALTER TABLE [dbo].[tbl_Payment] CHECK CONSTRAINT [FK_tbl_Payment_tb_PaymentMethod]
GO
ALTER TABLE [dbo].[tbl_Payment]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Payment_tb_PaymentStatus] FOREIGN KEY([PaymentStatusId])
REFERENCES [dbo].[tbl_PaymentStatus] ([PaymentStatusId])
GO
ALTER TABLE [dbo].[tbl_Payment] CHECK CONSTRAINT [FK_tbl_Payment_tb_PaymentStatus]
GO
ALTER TABLE [dbo].[tbl_Payment]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Payment_tb_User] FOREIGN KEY([PaymentByUserId])
REFERENCES [dbo].[tbl_User] ([UserId])
GO
ALTER TABLE [dbo].[tbl_Payment] CHECK CONSTRAINT [FK_tbl_Payment_tb_User]
GO
