USE [MMEE_Dev]
GO
/****** Object:  Table [dbo].[tbl_EventBooking]    Script Date: 2/3/2026 10:56:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_EventBooking](
	[EventBookingId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentId] [int] NOT NULL,
	[ClientWalletEntryId] [int] NOT NULL,
	[EventStatusId] [int] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_tbl_EventBooking] PRIMARY KEY CLUSTERED 
(
	[EventBookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_EventBooking]  WITH CHECK ADD  CONSTRAINT [FK_tb_EventBooking_tb_ClientWallet] FOREIGN KEY([ClientWalletEntryId])
REFERENCES [dbo].[tbl_ClientWallet] ([ClientWalletEntryId])
GO
ALTER TABLE [dbo].[tbl_EventBooking] CHECK CONSTRAINT [FK_tb_EventBooking_tb_ClientWallet]
GO
ALTER TABLE [dbo].[tbl_EventBooking]  WITH CHECK ADD  CONSTRAINT [FK_tb_EventBooking_tb_EventStatus] FOREIGN KEY([EventStatusId])
REFERENCES [dbo].[tbl_EventStatus] ([EventStatusId])
GO
ALTER TABLE [dbo].[tbl_EventBooking] CHECK CONSTRAINT [FK_tb_EventBooking_tb_EventStatus]
GO
ALTER TABLE [dbo].[tbl_EventBooking]  WITH CHECK ADD  CONSTRAINT [FK_tb_EventBooking_tb_Payment] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[tbl_Payment] ([PaymentId])
GO
ALTER TABLE [dbo].[tbl_EventBooking] CHECK CONSTRAINT [FK_tb_EventBooking_tb_Payment]
GO
ALTER TABLE [dbo].[tbl_EventBooking]  WITH CHECK ADD  CONSTRAINT [FK_tb_EventBookingCreatedBy_tb_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[tbl_User] ([UserId])
GO
ALTER TABLE [dbo].[tbl_EventBooking] CHECK CONSTRAINT [FK_tb_EventBookingCreatedBy_tb_User]
GO
ALTER TABLE [dbo].[tbl_EventBooking]  WITH CHECK ADD  CONSTRAINT [FK_tb_EventBookingModifiedBy_tb_User] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[tbl_User] ([UserId])
GO
ALTER TABLE [dbo].[tbl_EventBooking] CHECK CONSTRAINT [FK_tb_EventBookingModifiedBy_tb_User]
GO
