USE [MMEE_Dev]
GO
/****** Object:  Table [dbo].[tbl_Sponsor]    Script Date: 2/3/2026 10:56:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Sponsor](
	[SponsorId] [int] IDENTITY(1,1) NOT NULL,
	[SponsorDescription] [varchar](max) NULL,
	[SponsorStartDate] [datetime] NULL,
	[SponsorEndDate] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tbl_Sponsor] PRIMARY KEY CLUSTERED 
(
	[SponsorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
