USE [MMEE_Dev]
GO
/****** Object:  Table [dbo].[tbl_UserCredential]    Script Date: 2/3/2026 10:56:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserCredential](
	[UserCredetialsId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[UserPassword] [nvarchar](512) NOT NULL,
	[SecurityQuestionId] [int] NULL,
	[SecurityQuestionAnswer] [nvarchar](128) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
	[UserRefershToken] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbl_UserCredential] PRIMARY KEY CLUSTERED 
(
	[UserCredetialsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_UserCredential]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserCredential_tb_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[tbl_User] ([UserId])
GO
ALTER TABLE [dbo].[tbl_UserCredential] CHECK CONSTRAINT [FK_tbl_UserCredential_tb_User]
GO
