USE [MMEE_Dev]
GO
/****** Object:  Table [dbo].[tbl_UserTestimonial]    Script Date: 2/3/2026 10:56:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserTestimonial](
	[UserTestimonialId] [int] IDENTITY(1,1) NOT NULL,
	[UserWishListId] [int] NULL,
	[UserTestimonialComments] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[ModifedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserTestimonialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_UserTestimonial]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Testimonial_tb_User] FOREIGN KEY([UserWishListId])
REFERENCES [dbo].[tbl_UserWishList] ([UserWishListId])
GO
ALTER TABLE [dbo].[tbl_UserTestimonial] CHECK CONSTRAINT [FK_tbl_Testimonial_tb_User]
GO
