USE [MMEE_Dev]
GO
/****** Object:  Table [dbo].[tbl_UserAspiredLocation]    Script Date: 2/3/2026 10:56:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserAspiredLocation](
	[UserAspiredLocationId] [int] IDENTITY(1,1) NOT NULL,
	[UserAddress1] [nvarchar](max) NOT NULL,
	[UserAddress2] [nvarchar](max) NULL,
	[AddressLandMark] [nvarchar](64) NULL,
	[CountryId] [int] NOT NULL,
	[StateId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[GoogleMapLocationUrl] [nvarchar](max) NULL,
	[Letitude] [decimal](18, 5) NULL,
	[Logitude] [decimal](18, 5) NULL,
 CONSTRAINT [PK_UserAspiredLocationId] PRIMARY KEY CLUSTERED 
(
	[UserAspiredLocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_UserAspiredLocation]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserAspiredLocation_tb_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[tbl_City] ([CityId])
GO
ALTER TABLE [dbo].[tbl_UserAspiredLocation] CHECK CONSTRAINT [FK_tbl_UserAspiredLocation_tb_City]
GO
ALTER TABLE [dbo].[tbl_UserAspiredLocation]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserAspiredLocation_tb_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[tbl_Country] ([CountryId])
GO
ALTER TABLE [dbo].[tbl_UserAspiredLocation] CHECK CONSTRAINT [FK_tbl_UserAspiredLocation_tb_Country]
GO
ALTER TABLE [dbo].[tbl_UserAspiredLocation]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserAspiredLocation_tb_State] FOREIGN KEY([StateId])
REFERENCES [dbo].[tbl_State] ([StateId])
GO
ALTER TABLE [dbo].[tbl_UserAspiredLocation] CHECK CONSTRAINT [FK_tbl_UserAspiredLocation_tb_State]
GO
