USE [MMEE_Dev]
GO
/****** Object:  Table [dbo].[tbl_User]    Script Date: 2/3/2026 10:56:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserEmail] [nvarchar](256) NULL,
	[UserMobile] [nvarchar](64) NOT NULL,
	[UserTypeId] [int] NULL,
	[UserStatusId] [int] NULL,
	[UserAddressId] [int] NULL,
	[IsClientLogin] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
	[UserAvatarUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbl_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_User]  WITH CHECK ADD  CONSTRAINT [FK_tbl_User_tb_UserAddress] FOREIGN KEY([UserAddressId])
REFERENCES [dbo].[tbl_UserAddress] ([UserAddressId])
GO
ALTER TABLE [dbo].[tbl_User] CHECK CONSTRAINT [FK_tbl_User_tb_UserAddress]
GO
ALTER TABLE [dbo].[tbl_User]  WITH CHECK ADD  CONSTRAINT [FK_tbl_User_tb_UserStatus] FOREIGN KEY([UserStatusId])
REFERENCES [dbo].[tbl_UserStatus] ([UserStatusId])
GO
ALTER TABLE [dbo].[tbl_User] CHECK CONSTRAINT [FK_tbl_User_tb_UserStatus]
GO
ALTER TABLE [dbo].[tbl_User]  WITH CHECK ADD  CONSTRAINT [FK_tbl_User_tb_UserType] FOREIGN KEY([UserTypeId])
REFERENCES [dbo].[tbl_UserType] ([UserTypeId])
GO
ALTER TABLE [dbo].[tbl_User] CHECK CONSTRAINT [FK_tbl_User_tb_UserType]
GO
