USE [MMEE_Dev]
GO
/****** Object:  Table [dbo].[tbl_UserAddress]    Script Date: 2/3/2026 10:56:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserAddress](
	[UserAddressId] [int] IDENTITY(1,1) NOT NULL,
	[UserAddressTypeId] [int] NULL,
	[UserAddess1] [nvarchar](max) NULL,
	[UserAddress] [nvarchar](max) NULL,
	[AddressLandMark] [nvarchar](64) NULL,
	[CountryId] [int] NULL,
	[StateId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[GoogleMapLocationLink] [nvarchar](max) NULL,
	[Letitude] [decimal](18, 0) NULL,
	[Logitude] [decimal](18, 0) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_tbl_UserAddress] PRIMARY KEY CLUSTERED 
(
	[UserAddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_UserAddress]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserAddress_tb_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[tbl_City] ([CityId])
GO
ALTER TABLE [dbo].[tbl_UserAddress] CHECK CONSTRAINT [FK_tbl_UserAddress_tb_City]
GO
ALTER TABLE [dbo].[tbl_UserAddress]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserAddress_tb_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[tbl_Country] ([CountryId])
GO
ALTER TABLE [dbo].[tbl_UserAddress] CHECK CONSTRAINT [FK_tbl_UserAddress_tb_Country]
GO
ALTER TABLE [dbo].[tbl_UserAddress]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserAddress_tb_State] FOREIGN KEY([StateId])
REFERENCES [dbo].[tbl_State] ([StateId])
GO
ALTER TABLE [dbo].[tbl_UserAddress] CHECK CONSTRAINT [FK_tbl_UserAddress_tb_State]
GO
ALTER TABLE [dbo].[tbl_UserAddress]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UserAddress_tb_UserAddressType] FOREIGN KEY([UserAddressTypeId])
REFERENCES [dbo].[tbl_UserAddressType] ([UserAddressTypeId])
GO
ALTER TABLE [dbo].[tbl_UserAddress] CHECK CONSTRAINT [FK_tbl_UserAddress_tb_UserAddressType]
GO
